<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>应用首页</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<script src="../../common/extend/jquery/jquery.min.js"></script>
	<script src="../../common/extend/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../../common/extend/bootstrap/css/bootstrap.min.css">
	<script src="js/showtime.js"></script>
	<link rel="stylesheet" href="css/style.css">
	<script type="text/javascript" src="../../common/extend/vue/vue.min.js"></script>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="../../common/extend/element-ui/lib/theme-chalk/index.css">
	<!-- 引入组件库 -->
	<script type="text/javascript" src="../../common/extend/element-ui/lib/index.js"></script>
	<style>
		.innerDiv{
			border: 1px solid rgba(0,0,0,0.1);
			padding: 12px;
		}
		.cellName{
			border: none !important;
			padding: 0 !important;
		}
		.cellName .cell{
			border: none !important;
			padding: 0 !important;
		}
		.is-leaf{
			border: 1px solid rgba(0,0,0,0.1) !important;
		}
	</style>
</head>
<body style="padding:0;">
	<div class="h100 box" id="app">
		<div class="boxtit">风险管控清单</div>
		<div style="padding: 0 20px 20px 20px;">
			<form class="form-inline">
				<div class="form-group">
					<label for="exampleInputName2">风险点名称：</label>
					<input type="text" class="form-control" placeholder="请输入">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail2">责任人：</label>
					<input type="text" class="form-control" placeholder="请输入">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail2">风险等级：</label>
					<div class="selbox">
						<input type="text" class="form-control" placeholder="请选择" readonly="">
						<ul style="display: none;z-index: 2;">
							<li class="active"><a href="#">全部</a></li>
							<li><a href="#">I级</a></li>
							<li><a href="#">II级</a></li>
							<li><a href="#">III级</a></li>
							<li><a href="#">IV级</a></li>
						</ul>
					</div>
				</div>

				<div class="form-group">
					<label for="exampleInputEmail2">管控层级：</label>
					<div class="selbox">
						<input type="text" class="form-control" placeholder="请选择" readonly="">
						<ul style="left: inherit; right: 0;z-index: 2;">
							<li class="active"><a href="#">全部</a></li>
							<li><a href="#">院级</a></li>
							<li><a href="#">主任级</a></li>
							<li><a href="#">岗位级</a></li>
							<li><a href="#">副院长级</a></li>
						</ul>
					</div>
				</div>

				<div class="form-group">
					<label for="exampleInputEmail2">责任部门：</label>
					<div class="selbox">
						<input type="text" class="form-control" placeholder="请选择" readonly="">
						<ul style="left: inherit; right: 0;z-index: 2;">
							<li class="active"><a href="#">全部</a></li>
							<li><a href="#">学工办主任</a></li>
							<li><a href="#">办公室主任</a></li>
							<li><a href="#">教研室主任</a></li>
							<li><a href="#">院长</a></li>
							<li><a href="#">机电工程学院</a></li>
							<li><a href="#">副院长</a></li>
						</ul>
					</div>
				</div>


				<button type="submit" class="btn btn-primary"> <img src="images/search.png"> 查询 </button>
			</form>
		</div>
		<div class="boxnav" style="height: calc(100% - 171px);">
			<!-- <el-table border :data="list" style="z-index: 1;" header-row-class-name="eltable_header" :cell-class-name="tableRowClassName">
				<el-table-column type="index" width="77" label="序号" align="center"></el-table-column>
				<el-table-column prop="proName" label="名称" align="center" width="231"></el-table-column>
				<el-table-column prop="checkName" label="风险点名称" align="center" width="248" class-name="cellName">
					<template slot-scope="scope"> 
						<div v-for="(l,i) in scope.row.list" class="innerDiv">
							<span>{{l.checkName}}</span>
						</div>
					</template>
				</el-table-column>
				<el-table-column prop="hiddenDenger" label="风险级别" width="126" align="center" class-name="cellName">
					<template slot-scope="scope">
						<div v-for="(l,i) in scope.row.list" class="innerDiv">
							<span class="label label-danger">I级</span>
						</div>
					</template>
				</el-table-column>
				<el-table-column prop="type" label="管控层级" align="center" width="126" class-name="cellName">
					<template slot-scope="scope">
						<div v-for="(l,i) in scope.row.list" class="innerDiv">
							<span class="label label-danger">{{l.type}}</span>
						</div>
					</template>
				</el-table-column>
				<el-table-column prop="type" label="责任部门" align="center" width="174" class-name="cellName">
					<template slot-scope="scope">
						<div v-for="(l,i) in scope.row.list" class="innerDiv">
							<span class="label label-danger">{{l.type}}</span>
						</div>
					</template>
				</el-table-column>
				<el-table-column prop="type" label="责任人" align="center" class-name="cellName">
					<template slot-scope="scope">
						<div v-for="(l,i) in scope.row.list" class="innerDiv">
							<span class="label label-danger">{{l.type}}</span>
						</div>
					</template>
				</el-table-column>
			</el-table> -->
			<table class="table table-bordered" border="0" cellspacing="0" cellpadding="0">
				<tbody>
					<tr>
						<th>序号</th>
						<th>名称</th>
						<th>风险点名称</th>
						<th>风险等级</th>
						<th>管控层级</th>
						<th>责任部门</th>
						<th>责任人</th>
					</tr>
					<tr>
						<td rowspan="6">1</td>
						<td rowspan="6">组织管理</td>
						<td>安全工作领导责任制</td>
						<td><span class="label label-danger">I级</span></td>
						<td>院级</td>
						<td>院长</td>
						<td>戴明宏</td>
					</tr>
					<tr>
						<td>岗位级安全职责体系</td>
						<td><span class="label label-danger">I级</span></td>
						<td>院级</td>
						<td>院长</td>
						<td>戴明宏</td>
					</tr>
					<tr>
						<td>学院安全管理制度</td>
						<td><span class="label label-danger">I级</span></td>
						<td>院级</td>
						<td>院长</td>
						<td>戴明宏</td>
					</tr>
					<tr>
						<td>经费投入</td>
						<td><span class="label label-danger">I级</span></td>
						<td class="songhe">院级</td>
						<td>院长</td>
						<td>戴明宏</td>
					</tr>
					<tr>
						<td>安全管理机构</td>
						<td><span class="label label-danger">I级</span></td>
						<td>院级</td>
						<td>院长</td>
						<td>戴明宏</td>
					</tr>
					<tr>
						<td>安全档案</td>
						<td><span class="label label-warning">III级</span></td>
						<td>主任级</td>
						<td>学工办主任</td>
						<td>楚钊</td>
					</tr>
					<tr>
						<td rowspan="2">2</td>
						<td rowspan="2">教师管理</td>
						<td>准入管理</td>
						<td><span class="label label-warning">III级</span></td>
						<td>主任级</td>
						<td>办公室主任</td>
						<td>吕蒙</td>
					</tr>
					<tr>
						<td>日常行为管理</td>
						<td><span class="label label-primary">IV级</span></td>
						<td>岗位级</td>
						<td>教研室主任</td>
						<td>吴新佳</td>
					</tr>
					<tr>
						<td rowspan="3">3</td>
						<td rowspan="3">安全教育与培训</td>
						<td>公共安全教育</td>
						<td><span class="label label-red">II级</span></td>
						<td>副院长级</td>
						<td>副院长</td>
						<td>陈光伟</td>
					</tr>
					<tr>
						<td>心理健康教育</td>
						<td><span class="label label-red">II级</span></td>
						<td>副院长级</td>
						<td>院长</td>
						<td>戴明宏</td>
					</tr>
					<tr>
						<td>教职工安全培训</td>
						<td><span class="label label-warning">III级</span></td>
						<td>主任级</td>
						<td>办公室主任</td>
						<td>吕蒙</td>
					</tr>
					<tr>
						<td rowspan="3">4</td>
						<td rowspan="3">学院电气安全管理</td>
						<td>用电安全管理制度</td>
						<td><span class="label label-warning">III级</span></td>
						<td>主任级</td>
						<td>副院长</td>
						<td>陈光伟</td>
					</tr>
					<tr>
						<td>用电设备管理</td>
						<td><span class="label label-warning">III级</span></td>
						<td>主任级</td>
						<td>副院长</td>
						<td>陈光伟</td>
					</tr>
					<tr>
						<td>人员用电管理</td>
						<td><span class="label label-red">II级</span></td>
						<td>副院长级</td>
						<td>副院长</td>
						<td>陈光伟</td>
					</tr>
					<tr>
						<td rowspan="2">5</td>
						<td rowspan="2">实验室管理及建设</td>
						<td>实验室建设</td>
						<td><span class="label label-red">II级</span></td>
						<td>副院长级</td>
						<td>院长</td>
						<td>戴明宏</td>
					</tr>
					<tr>
						<td>实验室管理</td>
						<td><span class="label label-red">II级</span></td>
						<td>副院长级</td>
						<td>院长</td>
						<td>戴明宏</td>
					</tr>
					<tr>
						<td>6</td>
						<td>特种设备管理</td>
						<td>特种设备安全管理</td>
						<td><span class="label label-danger">I级</span></td>
						<td>院级</td>
						<td>院长</td>
						<td>戴明宏</td>
					</tr>
					<tr>
						<td rowspan="5">7</td>
						<td rowspan="5">教育教学活动</td>
						<td>课堂教学</td>
						<td><span class="label label-primary">IV级</span></td>
						<td>岗位级</td>
						<td>机电工程学院</td>
						<td>任课教师</td>
					</tr>
					<tr>
						<td>运动会</td>
						<td><span class="label label-warning">III级</span></td>
						<td>主任级</td>
						<td>学工办主任</td>
						<td>楚钊</td>
					</tr>
					<tr>
						<td>课间课外活动</td>
						<td><span class="label label-primary">IV级</span></td>
						<td>岗位级</td>
						<td>机电工程学院</td>
						<td>任课老师</td>
					</tr>
					<tr>
						<td>实训操作课</td>
						<td><span class="label label-red">II级</span></td>
						<td>副院长级</td>
						<td>副院长</td>
						<td>陈光伟</td>
					</tr>
					<tr>
						<td>机电实训课</td>
						<td><span class="label label-red">II级</span></td>
						<td>副院长级</td>
						<td>副院长</td>
						<td>陈光伟</td>
					</tr>
					<tr>
						<td rowspan="2">8</td>
						<td rowspan="2">岗位级作业活动</td>
						<td>电工作业</td>
						<td><span class="label label-danger">I级</span></td>
						<td>院级</td>
						<td>院长</td>
						<td>戴明宏</td>
					</tr>
					<tr>
						<td>高处作业</td>
						<td><span class="label label-danger">I级</span></td>
						<td>院级</td>
						<td>院长</td>
						<td>戴明宏</td>
					</tr>
					<tr>
						<td rowspan="3">9</td>
						<td rowspan="3">消防设施</td>
						<td>室内消火栓</td>
						<td><span class="label label-red">II级</span></td>
						<td>副院长级</td>
						<td>保卫处</td>
						<td>黄京京</td>
					</tr>
					<tr>
						<td>灭火器</td>
						<td><span class="label label-red">II级</span></td>
						<td>副院长级</td>
						<td>保卫处</td>
						<td>黄京京</td>
					</tr>
					<tr>
						<td>灭火器箱</td>
						<td><span class="label label-primary">IV级</span></td>
						<td>岗位级</td>
						<td>保卫处</td>
						<td>宗翔、邢二伟、陈定均</td>
					</tr>
					<tr>
						<td rowspan="7">10</td>
						<td rowspan="7">校舍安全</td>
						<td>楼梯走廊</td>
						<td><span class="label label-primary">IV级</span></td>
						<td>岗位级</td>
						<td>办公室主任</td>
						<td>吕&nbsp; 蒙</td>
					</tr>
					<tr>
						<td>储物室</td>
						<td><span class="label label-primary">IV级</span></td>
						<td>岗位级</td>
						<td>教研室主任</td>
						<td>齐晓华、吴新佳、史艳红</td>
					</tr>
					<tr>
						<td>办公室</td>
						<td><span class="label label-primary">IV级</span></td>
						<td>岗位级</td>
						<td>教研室主任</td>
						<td>齐晓华、吴新佳、史艳红</td>
					</tr>
					<tr>
						<td>强电间</td>
						<td><span class="label label-warning">III级</span></td>
						<td>主任级</td>
						<td>办公室主任</td>
						<td>吕蒙</td>
					</tr>
					<tr>
						<td>活动室</td>
						<td><span class="label label-warning">III级</span></td>
						<td>主任级</td>
						<td>办公室主任</td>
						<td>吕蒙</td>
					</tr>
					<tr>
						<td>会议室</td>
						<td><span class="label label-primary">IV级</span></td>
						<td>岗位级</td>
						<td>办公室主任</td>
						<td>吕蒙</td>
					</tr>
					<tr>
						<td>卫生间</td>
						<td><span class="label label-primary">IV级</span></td>
						<td>岗位级</td>
						<td>办公室主任</td>
						<td>吕蒙</td>
					</tr>
					<tr>
						<td rowspan="2">11</td>
						<td rowspan="2">设备设施/特种设备</td>
						<td>配电箱（柜）</td>
						<td><span class="label label-warning">III级</span></td>
						<td>主任级</td>
						<td>办公室主任</td>
						<td>吕蒙</td>
					</tr>
					<tr>
						<td>电梯</td>
						<td><span class="label label-red">II级</span></td>
						<td>副院长级</td>
						<td>院长</td>
						<td>戴明宏</td>
					</tr>
					<tr>
						<td rowspan="5">12</td>
						<td rowspan="5">教学场所</td>
						<td>教室</td>
						<td><span class="label label-primary">IV级</span></td>
						<td>岗位级</td>
						<td>机电工程学院</td>
						<td>实训室管理员</td>
					</tr>
					<tr>
						<td>机电实训室</td>
						<td><span class="label label-red">II级</span></td>
						<td>副院长级</td>
						<td>副院长</td>
						<td>陈光伟</td>
					</tr>
					<tr>
						<td>机械实训室</td>
						<td><span class="label label-red">II级</span></td>
						<td>副院长级</td>
						<td>副院长</td>
						<td>陈光伟</td>
					</tr>
					<tr>
						<td>计算机教室</td>
						<td><span class="label label-warning">III级</span></td>
						<td>主任级</td>
						<td>副院长</td>
						<td>陈光伟</td>
					</tr>
					<tr>
						<td>专用教室</td>
						<td><span class="label label-primary">IV级</span></td>
						<td>岗位级</td>
						<td>副院长</td>
						<td>陈光伟</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script>
		new Vue({
			el: "#app",
			data: {
				list: [
					{
						proName: "机械实训课",
						list: [
							// "机电实训课",
							// "机电实训课2"
							{
								checkName: "aaaa",
								hiddenDenger: "实验完成后设备配件未及时归位",
								type: "其他伤害"
							},
							{
								checkName: "bbbb",
								hiddenDenger: "实验完成后设备配件未及时归位",
								type: "其他伤害"
							}
						],
					},
					{
						proName: "机械实训课2",
						list: [
							// "机电实训课",
							// "机电实训课2"
							{
								checkName: "cccc",
								hiddenDenger: "实验完成后设备配件未及时归位",
								type: "其他伤害"
							},
							{
								checkName: "dddd",
								hiddenDenger: "实验完成后设备配件未及时归位",
								type: "其他伤害"
							}
						],
					}
				],
			},
			mounted() {
				
			},
			methods: {
				tableRowClassName({row, rowIndex}){
					console.log(row.proName,rowIndex)
					if(rowIndex>=1){
						return "haveClass"
					}
				}
			}
		})
	</script>
	<script>

		$(".selbox input").focus(function () {
			$(this).next("ul").fadeIn()
		})
		$(".selbox input").focusout(function () {
			$(this).next("ul").fadeOut()
		})

		$(".selbox ul li").click(function () {
			var txt = $(this).children("a").text()
			$(this).parent("ul").prev("input").val(txt)
			$(this).addClass("active").siblings().removeClass("active")
		})

	</script>

</body>

</html>