<!-- 以下代码可以直接全部copy到新建的html中 基础引用 不可缺少 有自定义的在单个html中实现-->

<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=EDGE, chrome=1">
		<meta http-equiv="Access-Control-Allow-Origin" content="*">
		<meta http-equiv="content-security-policy">
		<title>专项检查</title>
		<!-- jquery引入 -->
		<script src="../../common/extend/jquery/jquery.min.js"></script>
		<script src="../../common/extend/jquery/jquery.cookie.js"></script>
		<!-- mui相关组件 -->
		<script src="../../common/extend/mui/js/mui.js"></script>
		<link href="../../common/extend/mui/css/mui.css" rel="stylesheet" />
		<!--  xuean 自定义js文件 basetoken获取 平台需要文件  -->
		<script src="../../common/extend/julong/base_common.js"></script>
		<script src="../../common/system/system.js"></script>
		<script src="../../common/extend/julong/julong.js"></script>
		<!-- 加载框引入 -->
		<link href="../../common/app/css/showLoading.css" rel="stylesheet">
		<script src="../../common/app/script/showLoading.js"></script>

		<!-- xuean css基类 -->
		<link href="../../common/app/css/base_css.css" rel="stylesheet">
		<style>
			.mui-popover.mui-popover-action .mui-table-view {
				color: rgb(17, 17, 17);
			}

			/* 顶部操作区域css样式 */
			.top-container {
				width: 100%;
				height: 40px;
				border-bottom: solid rgb(222, 222, 222) 1px;
				display: flex;
				display: -webkit-flex;
				align-items: center;
				-webkit-align-items: center;
				justify-content: space-between;
				-webkit-justify-content: space-between;
			}

			.top-container a {
				margin-left: 15px;
			}

			.top-container a.active {
				color: rgb(59, 162, 255);
				border-bottom: 1px solid rgb(59, 162, 255);
				padding-bottom: 10px;
			}

			.top-container .top-filter-btn {
				font-size: 16px;
				color: rgb(17, 17, 17);
			}



			/* cell样式 */
			.cell-list li {
				margin: 10px 0px;
				border-bottom: 5px solid rgb(222, 222, 222);
			}

			.cell-list li:last-child {
				border-bottom: 1px solid rgb(222, 222, 222);
			}

			/* cell-顶部 名称 状态 更多在同一个div内部*/
			.cell-top-content {
				display: flex;
				/* 交叉轴上项目的第一行文字的基线对齐 */
				align-items: baseline;
				/* 两端对齐 */
				justify-content: space-between;
				display: -webkit-flex;
				-webkit-align-items: baseline;
				-webkit-justify-content: space-between;
			}

			.cell-top-right {
				/* margin-top: 20px; */
				display: flex;
				display: -webkit-flex;
				justify-content: flex-start;
				-webkit-justify-content: flex-start;
			}

			.cell-name {
				padding-left: 10px;
				border-left: 3px solid rgb(59, 162, 255);
				font-size: 16px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.cell-status {
				font-size: 15px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.cell-more {
				display: inline-flex;
				margin-right: 15px;
				margin-left: 10px;
			}

			.cell-duration,
			.cell-content {
				display: flex;
				display: -webkit-flex;
				font-size: 15px;
				margin: 10px 15px;
			}


			.cell-content .cell-left {
				margin-right: 10px;
				width: 60px;
			}

			.cell-content .cell-right {
				width: calc(100% - 60px - 10px);
			}

			.mui-bar-nav~.mui-content .mui-pull-top-pocket {
				top: - 40px !important;
			}
		</style>
	</head>

	<body>
		<header>
			<h1>专项检查</h1>
			<a href="#" onclick="javascript:history.back(-1)" class="left flex_center">
				<div class="arrow_left"></div>
			</a>
		</header>
		<div id="app">
			<div class="top-container">
				<div>
					<a href="#cell-list" class="active" @tap="tagClicked($event)">我的</a>
					<a href="#cell-list" @tap="tagClicked($event)">全部</a>
				</div>
				<div class="top-filter-btn mui-icon mui-icon-arrowdown mui-right" @tap="timeClicked($event)" :key="selectTimeIntStr">{{selectTime}}</div>
			</div>
			<div class="cell-list mui-scroll-wrapper">
				<div class="mui-scroll">
					<ul>
						<li v-for="(item,index) in itemList" :key="item.manageid">
							<div class="cell-top-content">
								<div class="cell-name app-black-color">{{item.managename}}</div>
								<div class="cell-top-right">
									<div v-if="item.status == 1" class="cell-status app-orange-color">进行中</div>
									<div v-else-if="item.status == 0" class="cell-status app-green-color">未开始</div>
									<div v-else-if="item.status == 2" class="cell-status app-gray-color">已结束</div>
									<div v-else class="cell-status app-black-color"></div>
									<div class="cell-more mui-icon mui-icon-more" @tap="itemMoreClicked($event,index)"></div>
								</div>
							</div>
							<div class="cell-duration app-gray-color">{{moment(item.planstarttime).format('YYYY-MM-DD') + " 至 " + moment(item.planendtime).format('YYYY-MM-DD')}}</div>
							<div class="cell-content">
								<div class="cell-left app-light-gray-color">创建单位</div>
								<div class="cell-right app-dark-gray-color">{{item.department}}</div>
							</div>
							<div class="cell-content">
								<div class="cell-left app-light-gray-color">总负责人</div>
								<div class="cell-right app-dark-gray-color">{{item.chargeusername}}</div>
							</div>
							<div class="cell-content">
								<div class="cell-left app-light-gray-color">检查方式</div>
								<div class="cell-right app-dark-gray-color">{{item.checktypename}}</div>
							</div>
							<div class="cell-content" v-show="updateNullString(item.remark,'').length > 0?true:false">
								<div class="cell-left app-light-gray-color">备注</div>
								<div class="cell-right app-dark-gray-color">{{item.remark}}</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- picker - 所有时间 -->
			<div id="picker-filter-time" class="mui-popover mui-popover-action mui-popover-bottom">
				<ul id="picker-first-item" class="mui-table-view">
					<li v-for="item in timeList" class="mui-table-view-cell" @tap="pickerItemClicked($event)">{{item}}</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell" @tap="pickerItemClicked($event)"><a href="#">取消</a></li>
				</ul>
			</div>
			<!-- picker - cell中的更多操作 -->
			<div id="picker-more-operation" class="mui-popover mui-popover-action mui-popover-bottom">
				<ul v-show="editLimit" class="mui-table-view">
					<li class="mui-table-view-cell" @tap="pickerItemClicked($event)">
						<a href="#">编辑检查</a>
					</li>
					<li class="mui-table-view-cell" @tap="pickerItemClicked($event)">
						<a href="#">查看详情（检查标准、分组)</a>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell" @tap="pickerItemClicked($event)">
						<a href="#">取消</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="fxbtn">
			<a href="#">添加</a>
		</div>
	</body>
	<!-- 页面加载完毕后统一的页面配置 -->
	<script src="../../common/app/script/navConfig.js"></script>
	<!-- 日期插件 -->
	<script src="../../common/extend/moment/moment.js"></script>
	<script src="../../common/extend/moment/zh-cn.js"></script>
	<script src="../../common/extend/vue/vue.min.js"></script>
	<script src="../../common/app/script/empty.js"></script>
	<script>
		window.onload = function() {
			mui('.mui-scroll-wrapper').scroll({
				deceleration: 0.0005 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006  
			});
			var Y = $('.top-container').offset().top
			var height = $('.top-container').height()
			$(".cell-list").css({
				'top': Y + height + 'px'
			})

			var screenHeight = $(window).height(),
				footerHeight = $('.fxbtn').height(),
				topContainerHeight = $('.top-container').height(),
				realHeight = screenHeight - topContainerHeight - footerHeight;

			if (isAPPHeaderShow) {
				$('.cell-list').css('height', realHeight + 'px').css('height', '-=44px');
			} else {
				$('.cell-list').css('height', realHeight + 'px').css('height', '-=0px');
			}
			var statusWidth = $('.cell-status').outerWidth(),
				moreWidth = $('.cell-more').outerWidth(),
				maxNameWidth = statusWidth + moreWidth;
			$('.cell-name').css('max-width', '100%').css('max-width', '-=' + maxNameWidth + 'px')
		};
		(function($) {
			//阻尼系数  
			var deceleration = mui.os.ios ? 0.003 : 0.0009;
			$('.mui-scroll-wrapper').scroll({
				bounce: false,
				indicators: false, //是否显示滚动条  
				deceleration: deceleration
			});
			mui(".mui-scroll-wrapper").on('tap', 'li', function(event) {
				this.click();
			});
			$.ready(function() {
				mui.init({
					pullRefresh: {
						container: '.cell-list',
						down: {
							style: 'circle',
							offset: '0px',
							auto: true,
							callback: pulldownRefresh
						},
						up: {
							contentrefresh: '加载中...',
							callback: pullupRefresh
						}
					}
				});
			});
		})(mui);


		var vm = new Vue({
			el: "#app",
			data: {
				timeList: [],
				selectTime: "全部时间",
				selectTimeIntStr: "", //上传给服务端使用的，全部时间传空，rg：2018，2020
				editLimit: false, //默认没有编辑权限，判断后更改信息
				itemList: [],
				page: 1,
			},
			mounted: function mounted() {
				this.createFilterTimePicker();
			},
			methods: {
				// 我的和全部按钮点击切换
				tagClicked: function(e) {
					$(e.currentTarget).addClass("active").siblings().removeClass("active");
					pulldownRefresh()
				},
				// 时间选择filter点击
				timeClicked: function() {
					mui("#picker-filter-time").popover('show');
				},
				// cell中的更多按钮点击
				itemMoreClicked: function(e, index) {
					e.preventDefault()
					var json = this.itemList[index],
						status = json['status'];
					if (status == '0' || status == '1' || this.isCanEditExam(json) == true) {
						this.editLimit = true;
					}
					mui("#picker-more-operation").popover('show');
				},
				//是否可以编辑检查
				isCanEditExam: function(json) {
					var isCanEdit = false,
						createUserCode = updateNullString(json['createusercode'], ""),
						chargeUserCode = json['chargeusercode'],
						isSelfCreateCode = json['selfcreate'];
					if (localUserCode == createUserCode) {
						isCanEdit = true;
						return isCanEdit;
					}
					if (localAdminType == "1" && isSelfCreateCode == true) {
						isCanEdit = true;
						return isCanEdit;
					}
					if (chargeUserCode.length > 0) {
						var arry = chargeUserCode.split(',');
						var result = $.inArray(localUserCode, arry);
						if (result >= 0) {
							isCanEdit = YES;
							return isCanEdit;
						}
					}
					return isCanEdit;
				},
				// 创建时间筛选的数据源
				createFilterTimePicker: function() {
					var currentYear = moment().year(),
						minYear = parseInt(currentYear) - 2,
						maxYear = parseInt(currentYear) + 2,
						array = [];
					array.push("全部时间")
					for (var i = minYear; i <= maxYear; i++) {
						array.push(i)
					}
					this.timeList = array;
				},
				// 时间pivker弹出层item项的点击 or 更多按钮点击弹出层【选中某一项后重新请求数据源，刷新列表】
				pickerItemClicked: function(e) {
					var a = e.currentTarget,
						parent;
					//根据点击按钮，反推当前是哪个actionsheet
					for (parent = a.parentNode; parent != document.body; parent = parent.parentNode) {
						if (parent.classList.contains('mui-popover-action')) {
							break;
						}
					}

					dLog('点击了' + a.innerHTML)

					if (parent.id == 'picker-filter-time') {
						if (a.innerHTML != '取消') {
							pulldownRefresh()
						}
						this.selectTime = a.innerHTML;
						if (this.selectTime == '全部时间') {
							this.selectTimeIntStr = ""
						} else {
							this.selectTimeIntStr = this.selectTime.split(0, this.selectTime.length - 1)
						}
					} else if (parent.id == 'picker-more-operation') {}

					//关闭actionsheet
					mui('#' + parent.id).popover('toggle');
				}
			}
		});

		/**
		 *  下拉刷新获取最新列表 
		 */
		function pulldownRefresh() {
			console.log("pulldownRefresh")
			requestDataFromServer(true)
		}
		/**
		 * 上拉加载拉取历史列表 
		 */
		function pullupRefresh() {
			console.log("pullupRefresh")
			requestDataFromServer(false)
		}
		// 下拉刷新
		function requestDataFromServer(pulltofresh) {
			/*加载更多的时候是否需要page++；
			eg：page=1的时候有值，pages++ 请求page=2的时候没有数据，
			那么下次在loadmore，应该还是加载page=2的数据，而不是page++ 请求page=3的数据*/
			var needPageAddWhenLoadmore = true;
			mui.showLoading();
			//无网络加载
			if (navigator.onLine == false) {
				mui.hideLoading();
				if (pulltofresh) {
					mui('.cell-list').pullRefresh().endPulldownToRefresh(false);
				} else {
					mui('.cell-list').pullRefresh().endPullupToRefresh(false);
				}
				showRequestErrorEmpty("网络似乎有点问题", false, true);
				return;
			}
			if (pulltofresh) {
				vm.page = 1;
			} else {
				if (needPageAddWhenLoadmore) {
					vm.page++;
				}
			}


			var usercode = updateNullString(getURLParameter('usercode'), localUserCode);
			var url_token = updateNullString(getURLParameter('token'), localToken);
			var token = updateNullString($.cookie('token'), url_token);
			var activeTagText = $(".top-container a.active").text()

			var paramDic = {
				"usercode": usercode,
				"token": token,
				"type": (activeTagText == "我的") ? "1" : "0",
				"pageIndex": vm.page,
				"pageSize": "10",
				"searchType": vm.selectTimeIntStr
			};
			dLog(paramDic)
			var urlString = system.check + "getSpecialExaminationList.action";
			jQuery_Request_Post(urlString, paramDic, 'json', true, function(object) {
					mui.hideLoading();
					var result = object["ret"],
						dataList = object["list"];
					/*loadmore的需要判断分页的数据是否有值，有值了数据源加上去
						没有值 判断原数据源是否有值，没有值，空页面显示；
					 有值了，页面依然显示原数据源，然后toast提示用户，暂无更多数据【表明用户下拉加载的无数据】；*/
					if (result) {
						//pull to refrsh
						if (vm.page == 1) {
							if (dataList.length > 0) {
								vm.itemList = dataList
								dLog(vm.itemList)
							} else {
								showRequestErrorEmpty("暂无相关数据", true, true);
							}
						}
						//load more
						else {
							if (dataList.length > 0) {
								vm.itemList = vm.itemList.concat(object["list"])
							} else {
								needPageAddWhenLoadmore = false; //请求下来的数据列表为0，用户在loadmore的时候page还是原来的哪个page，而不是page++
								if (vm.itemList.length == 0) {
									showRequestErrorEmpty("暂无相关数据", true, true);
								} else {
									mui.toast("暂无更多数据")
								}
							}
						}
					} else {
						showRequestErrorEmpty(updateNullString(responseData["msg"], "暂无相关数据"), true, false);
					}
					if (pulltofresh) {
						mui('.cell-list').pullRefresh().endPulldownToRefresh(false);
					} else {
						mui('.cell-list').pullRefresh().endPullupToRefresh(false);
					}
				},
				function(error) {
					mui.hideLoading();
					if (pulltofresh) {
						mui('.cell-list').pullRefresh().endPulldownToRefresh(false);
					} else {
						mui('.cell-list').pullRefresh().endPullupToRefresh(false);
					}
					showRequestErrorEmpty("数据加载时出了问题", true, true);
				})
		}
		//请求返回数据为空或失败显示的空页面
		function showRequestErrorEmpty(errorMsg, isNetwork, isShowRetry) {
			var imgpath = "../../common/app/images/nopage/img_noList.png";
			if (isNetwork == false) {
				imgpath = "../../common/app/images/nopage/img_noNetwork.png"
			}
			//空页面[接口请求失败]
			$.Empty.showEmptyView({
				"imgPath": imgpath,
				"errorMsg": errorMsg,
				"isShowMsg": true,
				"isShowRetry": isShowRetry,
				"appendDom": ".cell-list"
			}, function() {
				//重新刷新数据
				pullRefreshOrLoadMore(true)
			});
		}
	</script>


</html>
